:root {
  --blue: #3e9fff;
  --red: #dd524c;
  --grey: #8b8eab;
  --yellow: #ffecc8;
  --lg: linear-gradient(#e65895, #bc6be8);
  --white: #e2e4f3;
  --dblue: #393f6e;
  --dkblue: #343964;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: url(../public/images/bg.jpg);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 2.4rem;
}

.main {
  background-color: var(--dkblue);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  gap: 3rem;
  padding: 3rem;
}

.app-header {
  width: 50rem;
  display: flex;
  justify-content: space-between;
}

.app-header h1 {
  color: var(--white);
  letter-spacing: 0.2rem;
}

.app-header p {
  color: var(--white);
  background: var(--lg);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-weight: 600;
}

.error {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2rem;
  background-color: var(--red);
  border-radius: 1rem;
}

.progress {
  display: flex;
  gap: 0.8rem;
}

.per-progress {
  padding: 0.6rem 1.1rem;
  background-color: var(--dblue);
  border-radius: 45%;
  color: var(--white);
  font-size: 1rem;
}

.active {
  background: var(--lg);
}

h4 {
  color: var(--white);
  margin-bottom: 2.4rem;
  font-size: 1.1rem;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.4rem;
}

.btn-option {
  color: var(--white);
  padding: 1rem 5rem;
  border-radius: 1rem;
  background-color: var(--dblue);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn-option[disabled]:hover {
  cursor: not-allowed;
}

.finished {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.finished p:nth-of-type(1) {
  color: var(--white);
  font-size: 1.8rem;
}

.finished p {
  font-size: 1rem;
  color: var(--white);
}

.finished button {
  background: var(--lg);
  color: var(--white);
  padding: 1.7rem 6rem;
  border-radius: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.btn-option:hover {
  background: var(--lg);
}

@media (max-width: 815px) {
  html {
    font-size: 12px;
  }
  .main {
    width: 30rem;
    padding: 1.4rem 1rem;
  }

  .app-header {
    width: 30rem;
  }
  .options {
    grid-template-columns: 1fr;
  }

  .per-progress {
    padding: 0.3rem 0.7rem;
  }
}
